.oneSlide {
	&:focus {
		outline: none;
	}

	&:hover {
		cursor: pointer;
	}

	img {
		box-shadow: 0 0 20px 10px rgba(0,0,0,0.1);
		border-radius: 100%;
		pointer-events: none;

		&:focus {
			outline: none;
		}
	}
}